footer {
  background: #fff;
  .title {
    a {
      margin-top: 0px;
      overflow-wrap: break-word;
      max-width: 100%;
      color: rgb(15, 29, 14);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 22px;

      text-decoration: none;
    }
  }
  .item {
    a {
      color: rgb(15, 29, 14);
      text-decoration: none;
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
    }
  }
  .app {
    h6 {
      margin-top: 0px;
      overflow-wrap: break-word;
      max-width: 100%;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 16px;
    }
     @media  (max-width:767px) {
      text-align: center;
    }
  }
  .logo {
    text-align: right;
      @media  (max-width:767px) {
      text-align: center;
    }
    button {
      cursor: pointer;
      color: rgb(15, 29, 14);
      background: none transparent;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      padding: 0px;
      border-radius: 2em;
      margin-bottom: 16px;
      margin-left: auto;
    }
    svg {
      height: 16px;
      width: 16px;
    }
    p {
      display: inline-block;
      color: rgb(93, 104, 93);
      text-align: left;
      font-size: 14px;
      line-height: 20px;
      margin-top: 16px;
          @media  (max-width:767px) {
      text-align: center;
        display: block;
    }
    }
  }
  .lists{
    @media  (max-width:767px) {
      text-align: center;
    }
  }
}
