.search-box {
  display: flex;
  justify-content: center;
  margin-left: 16px;
  // height: 40px;
  .input-group {
    transition: all 0.3s ease;
    // border-radius: 25px;
    border-color: rgb(207, 215, 219) !important;
    min-width: 500px;
    border-radius: 4px;
    .form-control {
      border-color: transparent;
      transition: all 0.3s ease;
      &:not(:last-child) {
        // border-radius: 25px;
      }
    }
    input {
      padding: 8px;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      color: rgb(15, 29, 14);
      letter-spacing: normal;
      word-spacing: normal;
      border: 0;
      &:focus {
        box-shadow: 0;
      }
    }
    svg {
      height: 18px;
      width: 18px;
    }
  }
}

input,
textarea {
  font-family: inherit;
  font-size: inherit !important;
  line-height: inherit;
  width: 1%;
  color: rgb(15, 29, 14);
  margin: 0px;
  overflow: visible;
  background: none rgb(255, 255, 255);
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
    border-color, box-shadow, color;
  padding: 8px !important;
  border-width: initial;
  border-style: none;
  border-image: initial;
  flex: 1 1 auto;
  border-radius: 4px;
  border-color: rgb(207, 215, 219);
  &:focus {
    box-shadow: unset !important;
    border-color: rgb(72, 98, 112) !important;
  }
}

.sells {
  h5 {
    margin-top: 0px;
    overflow-wrap: break-word;
    max-width: 100%;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  form {
    label {
      color: rgb(15, 29, 14);
      font-size: 16px;
      line-height: 22px;
      text-size-adjust: 100%;
      margin-bottom: 3px;
    }
    .divider {
      padding: 32px;
      display: block;
      box-sizing: border-box;
      background-color: rgb(255, 255, 255);
      border-radius: 12px;
      border: 1px solid rgb(226, 232, 235);
      margin-bottom: 20px;
    }
    .form-group {
      margin-bottom: 10px !important;
    }
    .imageinputarea {
    }
    .ImageDropzone {
      position: relative;
      .DropzoneArea {
        height: 104px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(249, 250, 251);
        color: rgb(15, 29, 14);
        border-width: 2px;
        border-style: dashed;
        border-image: initial;
        border-radius: 12px;
        border-color: rgb(15, 29, 14);
        transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
            0s,
          border-color, box-shadow, color;
        .IconContainer {
          display: inline-block;
          line-height: 0;
          vertical-align: middle;
          color: rgb(15, 29, 14);
          .IconViewport {
            display: inline-block;
            line-height: 1;
            width: 1em;
            height: 1em;
            color: inherit;
            font-size: 48px;
            svg {
              width: 1em;
              height: 1em;
              display: inline-block;
              font-size: inherit;
            }
          }
        }
      }
      .StyledInput {
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }
  .smalltext {
    margin-top: 0px;
    max-width: 100%;
    overflow-wrap: break-word;
    margin-bottom: 0px;
    color: rgb(93, 104, 93);
    font-size: 14px;
    line-height: 20px;
  }
  .sell-btn {
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    min-height: 38px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    align-items: center;
    margin: 0px;
    border-image: initial;
    background: none rgb(60, 206, 105);
    transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
      border-color, box-shadow, color;
    padding: 8px 16px;
    border-color: rgb(60, 206, 105);
    border-radius: 2em;
    margin-left: auto;
    display: block;
    margin-top: 20px !important;
    margin-bottom: 40px !important;
  }
}
