header {
  padding-top: 16px;
  padding-bottom: 16px;
  background: #fff;
  border-bottom: 1px solid rgb(226, 232, 235);
  .logo {
    p {
      margin-bottom: 0;
    }
  }
  .sell-now {
    .sell-now-link{
      font-family: inherit;
      text-transform: none;
      text-align: center;
      color: rgb(255, 255, 255) !important;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      min-height: 28px;
      width: auto;
      display: inline-flex;

      justify-content: center;

      align-items: center;
      margin: 0px;

      border-image: initial;
      background: none rgb(15, 29, 14);
      transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        border-color, box-shadow, color;
      border-color: rgb(15, 29, 14);
      padding: 9px 24px;
      border-radius: 2em;
      &:hover {
        border-color: rgb(15, 29, 14);
        background-color: rgb(15, 29, 14);
        color: rgb(93, 104, 93) !important;
      }
      svg {
        height: 24px;
        width: 24px;
        margin-right: 8px;
      }
    }
    .wishlist-link {
      background: #fff;
      svg {
        height: 24px;
        width: 24px;
        margin-right: 8px;
      }
    }
  }
  .button-groups {
    li {
      list-style: none;
      button {
        padding: 8px 16px;
        font-size: 16px;
        line-height: 22px;
        min-height: 38px;
        font-family: inherit;
        text-transform: none;
        text-align: center;
        color: rgb(108, 130, 140);
        font-weight: bold;
        letter-spacing: normal;
        word-spacing: normal;
        background: none rgb(226, 232, 235);
        transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
            0s,
          border-color, box-shadow, color;
        border-color: rgb(226, 232, 235);
        border-radius: 2em;
        margin-left: 16px;
        transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
            0s,
          border-color, box-shadow, color;
        &:hover,
        &:focus {
          border-color: rgb(207, 215, 219);
          background-color: rgb(207, 215, 219);
          color: rgb(108, 130, 140);
        }
      }
    }
  }
}
