.section-top {
  margin-top: 30px;
  h1 {
    margin-top: 0px;
    overflow-wrap: break-word;
    max-width: 100%;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 4px;
  }
  .subtitle {
    margin-top: 0px;
    max-width: 100%;
    overflow-wrap: break-word;
    margin-bottom: 16px;
  }
  .categories {
    margin: 40px 0;
    ul {
      li {
        list-style: none;
        margin-right: 8px;
        a {
          text-decoration: none;
          color: rgb(15, 29, 14);
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          min-height: 28px;
          width: auto;
          background: none rgb(234, 236, 234);
          transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
              0s,
            border-color, box-shadow, color;
          border-color: rgb(234, 236, 234);
          padding: 9px 24px;
          border-radius: 2em;
          &:hover {
            border-color: rgb(234, 236, 234);
            background-color: rgb(234, 236, 234);
            color: rgb(93, 104, 93);
          }
        }
      }
        overflow-y: scroll;
    padding: 20px 0 ! important;
         @media  (max-width:767px) {
    }
    }
  }
}
