.location {
  position: relative;
  margin-top: 20px;
  svg {
    height: 16px;
    width: 16px;
    margin-left: 12px;
  }
  > button {
    padding: 8px 16px;
    white-space: pre;
    display: flex;
    align-items: center;
    border-color: transparent;
    border-radius: 2em;
    border-image: initial;
    background: none white;
    transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
      border-color, box-shadow, color;
    font-size: 16px;
    line-height: 22px;
    color: rgb(15, 29, 14);
    font-family: inherit;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;

    box-shadow: rgba(72, 98, 112, 10%) 0px 2px 4px 0px;
    &:hover {
      border-color: rgb(226, 232, 235);
      background-color: rgb(226, 232, 235);
      color: rgb(15, 29, 14);
    }
    &:focus {
      box-shadow: unset !important;
      border-color: rgb(226, 232, 235);
      background-color: rgb(226, 232, 235);
      color: rgb(15, 29, 14);
    }
  }
  .clicked {
    transform: rotate(185deg);
  }
  .not-show {
    display: none;
  }
  .show {
    box-shadow: rgba(72, 98, 112, 10%) 0px 2px 4px 0px;
    z-index: 100;
    background: #fff;
    display: block;
    padding: 20px 15px;
    border-radius: 10px;
    margin-top: 10px;
    .search-box {
      display: block;
      margin-left: 0;
      button {
      }
      .btn-group {
        padding-top: 20px;
        margin-left: auto;
        margin-top: 30px;
        display: block;
        text-align: right;
        .apply,
        .cancel {
          padding: 8px 16px;
          border-color: transparent;
          border-radius: 2em;
          border-image: initial;
          background: #cbf3dd;
          transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
              0s,
            border-color, box-shadow, color;
          font-size: 16px;
          line-height: 22px;
          color: #7cde9b;
          font-family: inherit;
          font-weight: normal;
          text-transform: none;
          letter-spacing: normal;
          word-spacing: normal;
          text-align: center;
        }
        .cancel {
          background: transparent;
          color: rgb(15, 29, 14);
        }
      }
    }
    .input-group {
      min-width: 300px;
    }
  }
}
