.modal-content {
  border-radius: 12px !important;
  padding: 16px;
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(226, 232, 235);
  .close {
    border: 0 !important;
    background: transparent !important;
    font-size: 30px;
    line-height: 0;
    margin-top: 10px;
  }
  .modal-header {
    border: 0;
    padding: 5px !important;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: max-content !important;
    margin: 11.75rem auto !important;
  }
}
.modal-body {
  padding-top: 0 !important;
  > h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
  }
}
.followers-modal,
.following-modal {
  max-height: 400px;
  min-width: 450px;
  overflow-x: hidden;
  margin-top: 20px;
  .modal-contents {
    min-height: 500px;
  }
  .items {
    display: flex;
    align-items: center;
    img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }
    h3,
    a {
      font-family: inherit;
      text-transform: none;
      vertical-align: baseline;
      user-select: none;
      cursor: pointer;
      min-height: auto;
      white-space: normal;
      text-align: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: bold;
      color: rgb(15, 29, 14);
      width: auto;
      display: inline-flex;
      -webkit-box-flex: 0;
      flex-grow: 0;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      appearance: none;
      overflow-wrap: break-word;
      max-width: 100%;
      margin: 0px;
      overflow: visible;
      text-decoration: none;
      background: none transparent;
      transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        border-color, box-shadow, color;
      border-width: initial;
      border-style: none;
      border-image: initial;
      border-color: transparent;
      padding: 0px;
      border-radius: 2em;
      margin: 0;
      margin-left: 16px;
    }
    button {
      font-family: inherit;
      text-transform: none;
      text-align: center;
      vertical-align: baseline;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      color: rgb(15, 29, 14);
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      min-height: 28px;
      margin: 0px;
      overflow: visible;
      text-decoration: none;
      border-width: initial;
      border-style: none;
      border-image: initial;
      background: none rgb(234, 236, 234);
      transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        border-color, box-shadow, color;
      border-color: rgb(234, 236, 234);
      padding: 9px 24px;
      border-radius: 2em;
      margin-left: auto;
    }
  }
}
.edit-profile-modal {
  min-width: 400px;
  label {
    color: rgb(15, 29, 14);
    margin-bottom: 4px;
  }
}
