.search-page {
  background: #f7f8f7;
  padding: 30px 0 30px;
  .bread-cramb {
    a {
      white-space: normal;
      text-align: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: bold;
      color: rgb(15, 29, 14);
      text-decoration: underline !important;
    }
    h1 {
      margin-top: 0px;
      overflow-wrap: break-word;
      max-width: 100%;
      font-weight: bold;
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 4px;
      color: rgb(15, 29, 14);
    }
    p {
      margin-top: 0px;
      max-width: 100%;
      overflow-wrap: break-word;
      margin-bottom: 16px;
    }
  }
  .filter-btn {
    margin-top: 20px;
    @media (max-width:992px) {
      display: none;
    }
    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      padding: 10px 0;
         @media (max-width:992px) {
         max-width: 1200px;
      overflow-y: scroll;
          }
      li {
        list-style: none;
        margin-right: 8px;
        .location {
          margin: 0;
        }

        >  button {
          display: flex;
          align-items: center;
          white-space: pre;
          svg {
            height: 16px;
            width: 16px;
            margin-left: 12px;
          }
          padding: 8px 16px;
          border-color: transparent;
          border-radius: 2em;
          border-image: initial;
          background: none white;
          transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
              0s,
            border-color, box-shadow, color;
          font-size: 16px;
          line-height: 22px;
          color: rgb(15, 29, 14);
          font-family: inherit;
          font-weight: normal;
          text-transform: none;
          letter-spacing: normal;
          word-spacing: normal;
          text-align: center;

          box-shadow: rgba(72, 98, 112, 10%) 0px 2px 4px 0px;
          &:hover {
            border-color: rgb(226, 232, 235);
            background-color: rgb(226, 232, 235);
            color: rgb(15, 29, 14);
          }
          &:focus {
            box-shadow: unset !important;
            border-color: rgb(226, 232, 235);
            background-color: rgb(226, 232, 235);
            color: rgb(15, 29, 14);
          }
          // @media (max-width:992px) {
          //      padding: 8px 16px;
          //   font-size: 14px;
          // }
        }
        .clear-btn {
          background: transparent;
          box-shadow: unset;
          font-size: 16px;
          line-height: 22px;
          min-height: 38px;
          color: rgb(15, 29, 14);
          font-family: inherit;
          font-weight: normal;
          &:hover {
            border-color: rgb(226, 232, 235);
            background-color: rgb(226, 232, 235);
          }
        }
      }
    }

    .clicked {
      transform: rotate(185deg);
    }
  }
  .mobile-responsive{
    display: none;
      @media (max-width:992px) {
        display: block;
          }
  }
  .product-not-found {
    margin-top: 30px;
    svg {
      height: 250px;
      width: 250px;
    }
    h4 {
      margin-top: 0px;
      overflow-wrap: break-word;
      max-width: 100%;
      font-weight: bold;
      text-align: center;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 16px;
    }
    h6 {
      margin-top: 0px;
      max-width: 100%;
      overflow-wrap: break-word;
      margin-bottom: 0px;
      text-align: center;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 20px;
    }
    a {
      // border-color: rgb(93, 104, 93);
      // background-color: rgb(93, 104, 93);
      color: rgb(255, 255, 255);
      padding: 9px 24px;
      border-radius: 2em;
      background: none rgb(15, 29, 14);
      transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        border-color, box-shadow, color;
    }
  }
}
