.shops-page {
  background: #f7f8f7;
  padding: 30px 0 30px;
  .bread-cramb {
    a {
      white-space: normal;
      text-align: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: bold;
      color: rgb(15, 29, 14);
      text-decoration: underline !important;
    }
    h1 {
      margin-top: 16px;
      overflow-wrap: break-word;
      max-width: 100%;
      font-weight: bold;
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 16px;
      color: rgb(15, 29, 14);
    }
    p {
      margin-top: 0px;
      max-width: 100%;
      overflow-wrap: break-word;
      margin-bottom: 16px;
    }
  }
  .search-location {
    .change-location {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 8px;
      span {
        color: rgb(60, 206, 105);
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .search-wrapper {
      width: 100%;
      padding: 0px 8px 0 0;
    }
    .form-group {
      flex: 1;
    }
    input {
      border: 0 !important;
    }
    button {
      font-family: inherit;
      text-transform: none;
      text-align: center;
      vertical-align: baseline;
      white-space: nowrap;
      user-select: none;
      cursor: pointer;
      font-size: 16px;
      line-height: 22px;
      min-height: 38px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      width: auto;
      display: inline-flex;
      -webkit-box-flex: 0;
      flex-grow: 0;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      appearance: button;
      margin: 0px;
      overflow: visible;
      text-decoration: none;
      border-width: initial;
      border-style: none;
      border-image: initial;
      background: none rgb(60, 206, 105);
      transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        border-color, box-shadow, color;
      padding: 8px 16px;
      border-color: rgb(60, 206, 105);
      border-radius: 2em;
      margin-left: 16px;
    }
    .cancel {
      background: none rgb(226, 232, 235);
      border-color: rgb(226, 232, 235);
    }
  }
}
